$primary-color: #222;
$secondary-color: rgb(0, 94, 235);
$secondary-darker-color: rgb(0, 79, 197);
$secondary-darkest-color: rgb(0, 63, 158);
$secondary-inner-color: #fff;
$danger-color: rgb(204, 60, 60);


$surface-lightest-color: #f7f7f7;
$surface-lighter-color: #e7e7e7;
$surface-color: #ddd;
$surface-darker-color: #c7c7c7;
$surface-darkest-color: #b7b7b7;


$breakpoint-tablet: 767px;
$breakpoint-laptop: 991px;

// Credit Card Size
$rccs-size: 400px;