@import "../../styles/variables";

$icon-size: 60px;

.steps {
    background-color: $surface-lighter-color;
    border: 1px solid $surface-color;
    display: flex;
    padding: 20px 0px;
    border-radius: 5px;
    li {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        text-align: center;
        opacity: .3;
        position: relative;
        &.__active {
            opacity: 1;
        }
        &:not(:last-child)::after {
            position: absolute;
            content: '';
            height: 1px;
            background-color: $primary-color;
            top: $icon-size / 2;
            width: calc(100% - #{$icon-size});
            left: calc(50% + #{$icon-size / 2});
        }
        div {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $icon-size;
            height: $icon-size;
            border-radius: 100%;
            background-color: $surface-lightest-color;
            border: 1px solid $primary-color;
            svg {
                font-size: 32px;
                fill: $primary-color;
            }
        }
        span {
            display: block;
            margin-top: 10px;
            width: 160px;
            max-width: 100%;
        }
    }
}